[Desktop Entry]
Encoding=UTF-8
Name=Link to RGB LED Matrix Panel - 32x64 - COM-14718 - SparkFun Electronics
Type=Link
URL=https://www.sparkfun.com/products/14718
Icon=text-html
Name[en_US]=RGB LED Matrix Panel - 32x64 - COM-14718
