[Desktop Entry]
Encoding=UTF-8
Name=Link to RGB Panel Hookup Guide - learn.sparkfun.com
Type=Link
URL=https://learn.sparkfun.com/tutorials/rgb-panel-hookup-guide?_ga=2.147188151.1068395761.1607916614-2035904423.1601235282
Icon=text-html
Name[en_US]=RGB Panel Hookup Guide
